In [1]:
import pandas as pd

In [2]:
csv_stream = 'id,name,age\r\n0,Mark,22\r\n1,Sophie,24'

In [7]:
filepath = "/tmp/test_report.csv"

with open(filepath, 'w') as fp:
    fp.write(csv_stream)

In [8]:
df = pd.read_csv(filepath)

In [9]:
df

   id    name  age
0   0    Mark   22
1   1  Sophie   24

In [10]:
import io
buff = io.StringIO(csv_stream)
df_buff = pd.read_csv(buff)
df_buff

   id    name  age
0   0    Mark   22
1   1  Sophie   24