In [1]:
import dataclasses

In [2]:
@dataclasses.dataclass
class Person:
    id: int
    name: str
    salary: float

In [3]:
people = [
    Person(1, "Alice", 50000.0),
    Person(2, "Bob", 60000.0),
    Person(3, "Charlie", 70000.0),
    Person(4, "David", 80000.0),
    Person(5, "Eve", 90000.0),
]
people

[Person(id=1, name='Alice', salary=50000.0),
 Person(id=2, name='Bob', salary=60000.0),
 Person(id=3, name='Charlie', salary=70000.0),
 Person(id=4, name='David', salary=80000.0),
 Person(id=5, name='Eve', salary=90000.0)]

In [4]:
deanonymized = [dataclasses.replace(p, name="") for p in people]
deanonymized

[Person(id=1, name='', salary=50000.0),
 Person(id=2, name='', salary=60000.0),
 Person(id=3, name='', salary=70000.0),
 Person(id=4, name='', salary=80000.0),
 Person(id=5, name='', salary=90000.0)]

In [5]:
people

[Person(id=1, name='Alice', salary=50000.0),
 Person(id=2, name='Bob', salary=60000.0),
 Person(id=3, name='Charlie', salary=70000.0),
 Person(id=4, name='David', salary=80000.0),
 Person(id=5, name='Eve', salary=90000.0)]

In [6]:
p0 = people[0]
p0

Person(id=1, name='Alice', salary=50000.0)

In [7]:
dataclasses.replace(p0, name="")

Person(id=1, name='', salary=50000.0)